* {
    font-family: helvetica;
     
       
  }

  body{
   
  }
  .main {
    background: #3c2e21ff;
    width: 70%;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background: #82781aff;
      font-size: 1.5vw;
    
  }
  
  .top {
    width: 100%;
   
  }
  
  .bottom {
    display: flex;
    justify-content: space-around;
  }
  
  .box {
    width: 30%;
    font-size: 1.5vw;
  }
  
  .boxImg {
    width: 100%;
  }
  
  h1 {
    text-align: center;
    font-size: 3vw;
    color:#ba3a02ff;
    border: 1px, solid, black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .bottom2 {
    display: flex;
    justify-content: space-around;
  }
  p {
    font-family: hebrew;
      font-size: 1.5vw;
      color:white;
  }
  
  @media screen and (max-width: 480px) {
    div {
      flex-direction: column;
      margin: 0 auto;
    }
    nav {
      flex-direction: column;
      text-align: center;
    }
  }
  .text{
      position: absolute;
    left: 10%;
    top: 30%;
       font-size: 2vw;
  
      
  }
  

  .ad{
        position: relative;
    width: 100%;
      
  }
  
  .imgbuttom{
      position: absolute;
    left: 10%;
    top: 50%;
           font-size: 1.5vw;
  
  }
  
  .contactinfo{
    display: flex;
    background: #82781aff;
    justify-content: space-around;
    font-size: 1.5vw;
    
    
  }

  .contactinfo2{
    display: flex;
    background: #82781aff;
    justify-content: space-around;
    font-size: 1.5vw;
    
    
    
  }
